/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  display: flex;
  flex-direction: column;
  background-color: #00a699;
  color: #fff;
}

main img {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.stay {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
  border: 2px solid #ff385c;
  border-width: 10%;
  flex-direction: column;
  padding: 5%;
}
/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5%;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media (min-width: 768px) {

  .stay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .inputs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    width: 100%;
    height: 5px;
    max-width: 90%;
    justify-items: center;
    align-content: center;
  }

  .inputs label {
    display: block;
    margin-bottom: 5px;
    text-align: start;

  }

  .inputs input,
  .inputs select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .inputs button {
    width: 100%;
    height: 60%;
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }

  .inputs button:hover {
    background-color: #e13350;
  }

  .aboutContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .aboutContent img {
    display: flex;
    width: 25%;
    margin-right: 2%;
  }

  #about {
    display: flex;
    flex-direction: column;
  }


  header {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
  }

  #ideas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ideasContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
  }

  .ideasContent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ideasContent img {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
  }

  #host {
    display: flex;
    flex-direction: row;
  }

  .hostContent {
    width: 50%;
  }

  .hostImg {
    width: 50%;
  }
}